In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Poker-test.csv')
data = pd.read_csv('sorted_poker.csv')

In [5]:
df.head()

   id  S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
0   1   1   1   1  13   2   4   2   3   1  12      0
1   2   3  12   3   2   3  11   4   5   2   5      1
2   3   1   9   4   6   1   4   3   2   3   9      1
3   4   1   4   3  13   2  13   2   1   3   6      1
4   5   3  10   2   7   1   2   2  11   4   9      0

In [6]:
data.head()

   C1  C2  C3  C4  C5  S1  S2  S3  S4  S5
0   1   3   4  12  13   1   2   2   1   1
1   2   5   5  11  12   3   4   2   3   3
2   2   4   6   9   9   3   1   4   1   3
3   1   4   6  13  13   2   1   3   3   2
4   2   7   9  10  11   1   2   4   3   2

In [10]:
X = df.iloc[:,2:-1].copy()
Y = df['CLASS']

In [11]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
enc.fit(data)
dum = enc.transform(data)

In [12]:
X=pd.DataFrame(dum)
X.shape

(1000000, 83)

In [13]:
from sklearn import preprocessing
sc = preprocessing.MinMaxScaler()
#X = sc.fit_transform(X)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=.3)

In [14]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)
print(clf.score(x_test,y_test))

0.99674

In [15]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100,random_state=0)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)
print(clf.score(x_test,y_test))

0.9968566666666666

In [16]:
from sklearn.model_selection import cross_val_score
cross_val_score(clf,X,Y,cv=3)

array([0.99679603, 0.99687701, 0.99690997])